@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 64px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.links {
    color: #e5e7eb;
    font-size: 18px;
    display: flex;
    gap: 24px;
}

main {
    flex: 1;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}