@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 64px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.links {
    color: #e5e7eb;
    font-size: 18px;
    display: flex;
    gap: 32px;
}

.top {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 64px;
    gap: 16px;
}

.top h1 {
    color: #f9faf8;
    font-weight: 800;
    font-size: 48px;
    margin: 0px;
}

.top p {
    color: #e5e7eb;
    font-size: 18px;
    margin: 0px;
}

.top img {
    outline: 2px solid #f9faf8;
    border-radius: 16px;
}

.information {
    padding: 64px;
}

.information h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    margin: 0;
    margin-bottom: 64px;
}

.items {
    display: flex;
    justify-content: space-evenly;
    padding: 0 64px;
}

.item {
    flex: 0;
}

.item img {
    outline: 2px solid #3882f6;
    border-radius: 16px;
}

.item p {
    margin: 0;
    margin-top: 8px;
    text-align: center;
    font-size: 18px;
    color: #1f2937;
}

.quote {
    padding: 64px 128px;
    background-color: #e5e7eb;
}

.quote p {
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
    color: #1f2937;
    margin: 0;
}

.quote h3 {
    margin: 16px;
    padding: 0 64px;
    font-size: 24px;
    text-align: end;
    font-weight: normal;
    color: #1f2937;
}



ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.signup-button {
    background-color: #3882f6;
    border: none;
    border-radius: 8px;
    padding: 8px 32px;
    color: #f9faf8;
    font-weight: bold;
    font-size: 16px;
    margin-top: 32px;
}